.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    background: #FFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 10px 10px 10px 0;
    width: 150px;
    &.selected {
      box-sizing: border-box;
      background: #DBEFFA;
      border: 4px solid #3CABAA;
    }
  }
}
.error {
  color: #E11F26;
}
